---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;800;900&display=swap";
@import "bourbon";
@import "base/base";

p {
  line-height: 1.6;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.profile-card {
  max-width: 400px;
  background: $OffWhite;
  margin: 100px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  animation: fadeIn 2s;
  transition: all 0.6s ease;
  transform-style: preserve-3d;

  header {
    margin-bottom: 2rem;
    a {
      display:block;
      background: #ccc url('/assets/img/Dallas-Skyline-at-Dusk-with-Autumn-Sunset-2016.jpg') no-repeat;
      background-size:cover;
      min-height:220px;
      margin-bottom:70px;
      position:relative;
      transition: all 2s ease;

      &:hover {
        transform: scale(1.02);
      }
    }

    h1, h2 {
      margin: 5px 30px;
      text-align: center;
    }

    h1 {
      font-size: 2rem;
      font-weight:500;
      color: $JailJumpsuit;
    }

    h2 {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #aeaeae;
    }
  }

  img {
    border: solid 3px $OffWhite;
    display: block;
    border-width: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20);
    position: absolute;
    bottom: -40px;
    left: 50%;
    max-width: 100px;
    transform: translateX(-50%);
  }

}

footer {
  margin-top: 2rem;

  .profile-social-links {
    list-style: none;
    display: table;
    width: 100%;
    border-top: 1px solid $BorderLightGray;
    margin: 0;
    padding: 0;

    li {
      display:table-cell;
      min-width: 1px;

      a {
        font-size: 2rem;
        color: $LightGray;
        padding: 20px 5px;
        display: block;
        text-align: center;
        border-left: 1px solid $BorderLightGray;
        transition: all 0.5s ease;

        &:hover {
          .fa-terminal {
            color: $gray;
          }
          .fa-twitter {
            color: #08a0e9;
          }
          .fa-linkedin {
            color: #2867B2;
          }
          .fa-github {
            color: #24292e;
          }
        }
      }

      &:first-child {
        a {
           border-left: 0;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

