html {
  background-color: lighten($gray, 70%);
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: $gray;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
